@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #2d3748; /* gray-800 */
}
::-webkit-scrollbar-thumb {
  background: #4a5568; /* gray-600 */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #718096; /* gray-500 */
}
